<h3>Address Form</h3>
<form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <div class="wrapper">

    <div class="one">
      <mat-form-field class="fullwidth">
        <input matInput placeholder="me@example.com" type="email" size="15" name="email" [(ngModel)]="email">
      </mat-form-field>
    </div>

    <div class="two">
      <mat-form-field class="fullwidth">
        <input matInput placeholder="First Name" name="firstname" type="text" size="25" [(ngModel)]="firstname">
      </mat-form-field>
    </div>

    <div class="three">
      <mat-form-field class="fullwidth">
        <input matInput placeholder="Last Name" name="lastname" type="text" size="25" [(ngModel)]="lastname">
      </mat-form-field>
    </div>

    <div class="four">
      <mat-form-field class="fullwidth">
        <input matInput placeholder="Street" name="street" type="text" size="40" [(ngModel)]="street">
      </mat-form-field>
    </div>

    <div class="five">
      <mat-form-field class="fullwidth">
        <input matInput placeholder="City" name="city" type="text" size="20" [(ngModel)]="city">
      </mat-form-field>
    </div>

    <div class="six">
      <mat-form-field class="fullwidth">
        <input matInput type="number" maxlength="5" placeholder="Postal Code" size="6" name="postalcode"
               [(ngModel)]="postalcode">
      </mat-form-field>
    </div>
    <div class="seven">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" [(ngModel)]="birthdate" name="birthdate" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

      </mat-form-field>
    </div>

    <div class="eight">
      <button type="submit" mat-raised-button>Save</button>
    </div>
  </div>

</form>
