<h3>Address Form</h3>
<form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <div class="wrapper">

    <div class="one">
      <input placeholder="me@example.com" type="email" size="15" name="email" [(ngModel)]="email">
    </div>

    <div class="two">
      <input placeholder="First Name" name="firstname" type="text" size="25" [(ngModel)]="firstname">
    </div>

    <div class="three">
      <input placeholder="Last Name" name="lastname"  type="text" size="25"[(ngModel)]="lastname">
    </div>

    <div class="four">
      <input placeholder="Street" name="street"  type="text" size="40"[(ngModel)]="street">
    </div>

    <div class="five">
      <input placeholder="City" name="city"  type="text" size="20"[(ngModel)]="city">
    </div>

    <div class="six">
      <input type="number" maxlength="5" placeholder="Postal Code" size="6" name="postalcode" [(ngModel)]="postalcode">
    </div>
    <div class="seven">
      <input type="submit" value="save">
    </div>
  </div>

</form>
