<h3>Address Form</h3>
<form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <input matInput placeholder="First Name" name="firstname" [(ngModel)]="address.firstname">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="fullwidth">
          <input matInput placeholder="Last Name" name="lastname" [(ngModel)]="address.lastname">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>
    <mat-form-field class="fullwidth">
      <textarea matInput placeholder="Street" name="street" [(ngModel)]="address.street"></textarea>
    </mat-form-field>
  </p>

  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <input matInput placeholder="City" name="city" [(ngModel)]="address.city">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="fullwidth">
          <input matInput type="number" maxlength="5" placeholder="Postal Code" name="postalcode" [(ngModel)]="address.postalcode">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>
    <button type="submit" mat-raised-button>Submit</button>
  </p>
</form>
